{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown-nocjsp",
        "plugins": ["./node_modules/prettier-plugin-md-nocjsp"]
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx-nocjsp",
        "plugins": ["./node_modules/prettier-plugin-md-nocjsp"]
      }
    }
  ]
}
